body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: 40px;
}

a {
  color: rgb(255, 255, 255);
}

h1 {
  color: #000;
  font-weight: 700;
}

label{
  font-size: 18px;
}

.fit-image{
width: 100%;
object-fit: cover;
height: 300px; /* only if you want fixed height */
}

.page-footer{
  position:relative;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 1);
  color: white;
}
